* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ==================================================== */
/* ===================== VARIABLES ==================== */
/* ==================================================== */
/* ==================================================== */
/* ====================== GLOBAL ====================== */
/* ==================================================== */
body {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #242D52;
  position: relative;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 64px;
}

h2,
h3 {
  font-size: 40px;
  line-height: 44px;
}

h4 {
  font-size: 16px;
  line-height: 23.38px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  opacity: 0.5;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.burger-btn,
.close-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.btn {
  border: none;
  border-radius: 22px;
  padding: 12px 32px;
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 700;
  line-height: 18.99px;
  cursor: pointer;
}

.orange {
  color: #FCF6F5;
  background: #F3603C;
  box-shadow: 0px 15px 15px -10px #FF9F8E;
}
.orange:hover {
  background: #F98F75;
}

.white {
  color: #F3603C;
  background: #FFF;
  box-shadow: 0px 15px 15px -10px #DB5943;
}
.white:hover {
  color: #F3603C;
  opacity: 0.5;
}

.shadow-none {
  box-shadow: none;
}

.desc {
  font-size: 16px;
  line-height: 28px;
}

/* ==================================================== */
/* ==================== NAVIGATION ==================== */
/* ==================================================== */
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
  position: relative;
}

.nav__menu {
  display: flex;
  gap: 2rem;
  text-transform: capitalize;
  font-size: 13px;
  line-height: 18.99px;
  font-weight: 500;
}
.nav__menu a {
  transition: all 400ms ease;
}
.nav__menu a:hover {
  opacity: 0.5;
}

/* ==================================================== */
/* ====================== HEADER ====================== */
/* ==================================================== */
.main-header__container {
  display: flex;
  margin-top: 120px;
}

.header__left h1 {
  margin-top: 1rem;
}
.header__left p {
  width: 53%;
  margin: 16px 0 40px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-header {
  margin-top: 180px;
  padding: 62px 0;
  background: #F3603C;
  color: #FFF;
}

.bg {
  position: relative;
  isolation: isolate;
}
.bg::before {
  content: "";
  inset: 0;
  background-image: url(/images/bg-tablet-pattern.svg), url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 33rem;
  background-position: 12rem -2rem, 80rem -25rem;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
}

.sec-header__container {
  display: flex;
  justify-content: space-between;
}
.sec-header__container .header__left {
  width: 40%;
}
.sec-header__container .header__right {
  display: flex;
  align-items: center;
}

/* ==================================================== */
/* ====================== SECTION ===================== */
/* ==================================================== */
.manage-section {
  margin-top: 132px;
}

.manage-section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.manage__left p {
  width: 53%;
  margin-top: 24px;
}

.manage__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.manage__right article {
  display: flex;
  flex-direction: column;
}

.manage__title {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-bottom: 11px;
}

.number {
  padding: 8px 24px;
  border-radius: 39px;
  background: #F3603C;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 23.38px;
  letter-spacing: -0.29px;
}

.manage__content {
  width: 83.5%;
  margin-left: auto;
}

.testimonials-section {
  text-align: center;
  margin-top: 146px;
}

.testimonials__list {
  padding: 102px 0 78px;
}

.testimonial {
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 60px 40px 40px;
  background: #FAFAFA;
  position: relative;
}

.avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.avatar img {
  width: 72px;
}

.testimonial__info h4 {
  margin-bottom: 19px;
}

.swiper-pagination {
  position: absolute;
  bottom: 40px !important;
  z-index: 11;
}

.swiper-pagination-bullet {
  border: 1px solid #F3603C !important;
  background: none !important;
  opacity: 1 !important;
  margin: 2px !important;
}

.swiper-pagination-bullet-active {
  background-color: #F3603C !important;
}

/* ==================================================== */
/* ====================== FOOTER ====================== */
/* ==================================================== */
.footer {
  background: #1D1E25;
  padding: 62px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
}
.footer__socials img:hover {
  filter: invert(50%) sepia(99%) saturate(1721%) hue-rotate(339deg) brightness(100%) contrast(100%);
}

.footer2 {
  display: flex;
  gap: 130px;
}
.footer2 ul {
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 21.92px;
  font-weight: 400;
}

.footer__contact {
  width: 100%;
  display: flex;
  position: relative;
}

#form {
  width: 100%;
}
#form input {
  border: none;
  padding: 13px 16px;
  border-radius: 22px;
  max-width: 90%;
  margin-right: 8px;
}
#form input::placeholder {
  color: #8D8D8D;
  font-size: 13px;
  line-height: 18.99px;
}

#success {
  color: #4BB543;
  display: none;
}

#error {
  color: #F33C3C;
}

#error,
#success {
  position: absolute;
  font-style: italic;
  font-size: 10px;
  line-height: 14.61px;
  letter-spacing: -0.08px;
  left: 25px;
  bottom: -25px;
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #FFF;
  opacity: 0.5;
}

/* ==================================================== */
/* ===================== BACKGROUND =================== */
/* ==================================================== */
.hero {
  border: 1px solid rgba(255, 0, 0, 0);
}
.hero::before {
  content: "";
  inset: 0;
  background-image: url(/images/bg-tablet-pattern.svg), url(/images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: 53rem -8rem, -36rem 72rem;
  position: absolute;
  z-index: -1;
}

/* ==================================================== */
/* ===================== RESPONSIVE =================== */
/* ==================================================== */
@media only screen and (min-device-width: 1086px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  .header__right img {
    scale: 0.8;
  }
  .hero::before {
    background-position: 42rem -10rem, -35rem 67rem;
  }
  .bg::before {
    background-position: 12rem -2rem, 67rem -25rem;
  }
}
@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-header__container {
    flex-direction: column-reverse;
  }
  .header__right img {
    width: 80%;
  }
  .hero::before {
    background-position: 33rem -7rem, -28rem 53rem;
    background-size: 40rem, 40rem;
  }
  .bg::before {
    background-position: 3rem -2rem, 52rem -24rem;
  }
  .testimonials-section {
    margin: 100px auto 0;
    width: 80%;
  }
  .sec-header__container {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }
  .sec-header__container .header__left {
    width: 100%;
  }
  .sec-header__container .header__right {
    display: flex;
    align-items: center;
  }
  .footer2 {
    gap: 60px;
  }
}
@media only screen and (max-device-width: 912px) and (-webkit-min-device-pixel-ratio: 2) {
  .hero::before {
    background-position: 30rem -5rem, -23rem 50rem;
    background-size: 35rem, 35rem;
  }
  .bg::before {
    background-position: 2rem -1rem, 47rem -24rem;
  }
}
@media only screen and (max-device-width: 820px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px;
    border-radius: 4px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 5rem;
    left: 0;
    right: 0;
    background: #FFF;
    box-shadow: 0px 10px 20px rgba(80, 86, 98, 0.03);
  }
  .burger-btn {
    display: inline-block;
  }
  .nav__btn {
    display: none;
  }
  .hero::before {
    background-size: 40rem, 25rem;
    background-position: 15rem -5rem, 39rem 37rem;
  }
  .bg::before {
    background-position: 2rem -1rem, 47rem -24rem;
  }
}
@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 85%;
  }
  .hero::before {
    background-size: 40rem, 25rem;
    background-position: 14rem -5rem, 36rem 34rem;
  }
  .main-header__container {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .header__right {
    margin: auto;
  }
  .header__right img {
    width: 80%;
  }
  .header__left {
    text-align: center;
  }
  .header__left p {
    width: 90%;
    margin: 2rem auto;
  }
  .sec-header {
    padding: 90px 0;
    margin-top: 42px;
  }
  .sec-header__container {
    flex-direction: column;
    gap: 50px;
  }
  .sec-header__container .header__left {
    width: 100%;
    text-align: center;
  }
  .sec-header__container .header__right {
    justify-content: center;
  }
  .bg::before {
    background-position: -27rem 0rem;
  }
  .manage-section {
    margin-top: 100px;
  }
  .manage-section__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .manage__left {
    text-align: center;
  }
  .manage__left h2 {
    width: 80%;
    margin: auto;
  }
  .manage__left p {
    width: 85%;
    margin: 2rem auto;
  }
  .manage__right {
    gap: 30px;
  }
  .manage__content {
    width: 86%;
  }
  .testimonials-section {
    width: 85%;
    margin: 100px auto 0;
  }
  .footer {
    padding: 50px 0 100px;
  }
  .footer__container,
.footer1 {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  .footer__socials {
    gap: 50px;
  }
  .footer__socials img {
    width: 2rem;
  }
  .footer2 {
    width: 100%;
    justify-content: center;
    gap: 50%;
  }
  .footer3 {
    width: 100%;
  }
  #form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #form input {
    width: 70%;
  }
  .copyright {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -50px;
    text-align: center;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 520px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 90%;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
  }
  h2 {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: -0.62px;
  }
  p {
    font-size: 14px;
    line-height: 28px;
  }
  .hero::before {
    background-size: 33rem, 24rem;
    background-position: 5.5rem -4rem, 20rem 32rem;
  }
  .header__right img {
    width: 100%;
  }
  .header__left p {
    margin: 9px auto 29px;
    font-size: 16px;
    font-weight: 300;
  }
  .sec-header__container {
    gap: 1.8125rem;
  }
  .bg::before {
    background-position: -27rem 0rem;
  }
  .manage-section {
    margin-top: 93px;
  }
  .manage__left p {
    margin: 13px auto;
  }
  .manage__right {
    gap: 40px;
  }
  .manage__right article {
    display: flex;
    flex-direction: column;
  }
  .manage__title {
    gap: 1rem;
    background: #FFF0EC;
    margin-bottom: 8px;
  }
  .manage__content {
    width: 100%;
    margin-left: 0;
  }
  .testimonials-section {
    width: 90%;
    margin: 62px auto 0;
  }
  .testimonial {
    padding: 60px 30px 40px;
  }
  .footer1 {
    align-items: center;
  }
  .footer__socials {
    gap: 34px;
  }
  .footer2 {
    gap: 90px;
  }
}