/* ==================================================== */
/* ====================== HEADER ====================== */
/* ==================================================== */

.main-header__container {
    display: flex;
    margin-top: 120px;
}

.header__left {
    h1 {
        margin-top: 1rem;
    }

    p {
        width: 53%;
        margin: 16px 0 40px;
    }
}


/* ==================================================== */
/* ===================== RESPONSIVE =================== */
/* ==================================================== */

@media only screen and (min-device-width: 1086px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    .header__right {
        img {
            scale: 0.8;
        }
    }
    .hero {
        &::before {
            background-position: 42rem -10rem, -35rem 67rem;
        }
    }
}

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

    .main-header__container {
        flex-direction: column-reverse;
    }

    .header__right {
        img {
            width: 80%;
        }
    }

    .hero {
        &::before {
            background-position: 33rem -7rem, -28rem 53rem;
            background-size: 40rem, 40rem;
        }
    }
}

@media only screen and (max-device-width: 912px) and (-webkit-min-device-pixel-ratio: 2) {

    .hero {
        &::before {
            background-position: 30rem -5rem, -23rem 50rem;
            background-size: 35rem, 35rem;
        }
    }
}

@media only screen and (max-device-width: 820px) and (-webkit-min-device-pixel-ratio: 2) {

    .hero {
        &::before {
            background-size: 40rem, 25rem;
            background-position: 15rem -5rem, 39rem 37rem;
        }
    }
}

@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero {
        &::before {
            background-size: 40rem, 25rem;
            background-position: 14rem -5rem, 36rem 34rem;
        }
    }

    .main-header__container {
        flex-direction: column-reverse;
        margin-top: 3rem;
    }

    .header__right {
        margin: auto;

        img {
            width: 80%;
        }
    }

    .header__left {
        text-align: center;

        p {
            width: 90%;
            margin: 2rem auto;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 520px) and (-webkit-min-device-pixel-ratio: 2) {


    .hero {
        &::before {
            background-size: 33rem, 24rem;
            background-position: 5.5rem -4rem, 20rem 32rem;
        }
    }

    .header__right {
        img {
            width: 100%;
        }
    }

    .header__left {
        p {
            margin: 9px auto 29px;
            font-size: $mb-body-l-fs;
            font-weight: 300;
        }
    }

}